In [8]:
# Import Dependencies
import pandas as pd

In [11]:
raw_data = {
    'Class': ['Oct', 'Oct', 'Jan', 'Jan', 'Oct', 'Jan', 'Nov'], 
    'Name': ["Cyndy", "Logan", "Laci", "Elmer", "Crystle", "Emmie", "test"], 
    'Test Score': [90, 56, 72, 88, 98, 67, 59]}
df = pd.DataFrame(raw_data)
df

  Class     Name  Test Score
0   Oct    Cyndy          90
1   Oct    Logan          56
2   Jan     Laci          72
3   Jan    Elmer          88
4   Oct  Crystle          98
5   Jan    Emmie          67
6   Nov     test          59

In [21]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [0, 60, 70, 80, 90, 100]

# Create the names for the four bins
group_names = ["F", "D", "C", "B", "A"]

In [22]:
# ---------------------------------------------------------------------------
# When using the `pd.cut()` method, three parameters must be passed in:
#    1. the Series that is going to be cut
#    2. a list of the bins that the Series will be sliced into
#    3. a list of the names/values that will be given to the bins.
#
# It is important to note that, when creating the list for bins, Pandas will
# automatically determine the range between values. This means that, when
# given the list [0, 60, 70, 80, 90, 100], Pandas will create bins with
# ranges between those values in the list.
#
# The labels in the pd.cut() method must be one fewer element than those in an 
# the bin (as the lowest possible value), otherwise an error will be returned:
#     `Bin labels must be one fewer than the number of bin edges`
# ---------------------------------------------------------------------------

df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
df

  Class     Name  Test Score Test Score Summary
0   Oct    Cyndy          90                  B
1   Oct    Logan          56                  F
2   Jan     Laci          72                  C
3   Jan    Elmer          88                  B
4   Oct  Crystle          98                  A
5   Jan    Emmie          67                  D
6   Nov     test          59                  F

In [ ]:
# What makes binning so powerful is that, after creating and applying these bins,
# the DataFrame can be grouped according to those values and thus a higher-level
# analysis can be conducted.

# Creating a group based off of the bins
df = df.groupby("Test Score Summary")
df.max()